---
import ProjectThumbnail from "./ProjectThumbnail.jsx";

import projectInfo from '../content/AIprojects.json';
---


<div class="grid md:grid-cols-2 grid-cols-1 md:gap-10 gap-5 md:max-h-100 max-h-110 overflow-scroll no-scrollbar mx-5">
    <!-- map all our projects from our JSON file -->
    {projectInfo.map((info) => {
        return (
            <ProjectThumbnail
            client:load
            imageSrc={info.content.imagePath}
            altText={info.content.imageAltText}
            projectTitle={info.title}
            projectDescrip={info.content.description}
            tags={info.content.tags}
            content={info.content}
            />
        )
    })}

</div>